body {
	font-family : "EF_Diary"
}

a {
	text-decoration: none;
	color: black;
}

ul {
	display: inline-block;
	list-style: none;
}

header,
section,
footer {
	background-color: white;
	padding: 10px 0;
	margin: 10px 0;
	overflow: auto;
}

@font-face {
	font-family: "EF_Diary";
	src: url("./font/EF_Diary.ttf") format("truetype");
}

@font-face {
	font-family: "SUIT-Medium.ttf";
	src: url("./font/SUIT-Medium.ttf") format("truetype");
}

#main-section,
footer {
	text-align: center;
}


header ul li:hover {
	cursor: pointer;
}

.btn-list3 {
	text-align: center;
	font-family: 'EF_Diary';
	font-size: 40px;
}